.o__mobile-nav {
  display: block;
  /* background: var(--color-darkblue); */
  color: var(--color-white);
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 350px;
}

.o__mobile-nav ul {
  list-style: none;
}

.o__mobile_nav-link {
  font-size: 2rem;
}

.o__mobile-nav-list {
  display: -webkit-box; /* Dodajte WebKit prefix za flexbox */
  display: -ms-flexbox; /* Dodajte MS prefix za flexbox */
  display: flex;
  -webkit-flex-direction: column; /* Dodajte WebKit prefix za flex-direction */
  -ms-flex-direction: column; /* Dodajte MS prefix za flex-direction */
  flex-direction: column;
  gap: 0.5rem;
}

.o__mobile_nav-link-wrapper {
  display: -webkit-box; /* Dodajte WebKit prefix za flexbox */
  display: -ms-flexbox; /* Dodajte MS prefix za flexbox */
  display: flex;
  -webkit-align-items: center; /* Dodajte WebKit prefix za align-items */
  -ms-align-items: center; /* Dodajte MS prefix za align-items */
  align-items: center;
  gap: 1rem;
}

.o__mobile-nav-list a:hover,
.o__mobile-nav-list svg:hover,
.slider svg:hover {
  color: var(--color-darkgrey);
  cursor: pointer;
}

.dropdown-menu__btn {
  width: 24px;
  height: 24px;
}

.slider {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box; /* Dodajte WebKit prefix za flexbox */
  display: -ms-flexbox; /* Dodajte MS prefix za flexbox */
  display: flex;
  -webkit-align-items: center; /* Dodajte WebKit prefix za align-items */
  -ms-align-items: center; /* Dodajte MS prefix za align-items */
  align-items: center;
  -webkit-transition: -webkit-transform 1s; /* Dodajte WebKit prefix za transition */
  transition: transform 1s;
}

.slider2,
.slider3 {
  display: -webkit-box; /* Dodajte WebKit prefix za flexbox */
  display: -ms-flexbox; /* Dodajte MS prefix za flexbox */
  display: flex;
  gap: 0.5rem;
}

.slider1 {
  -webkit-transform: translateX(0%); /* Dodajte WebKit prefix za transform */
  transform: translateX(0%);
  margin-left: 2.5rem;
}

.slider2 {
  -webkit-transform: translateX(100%); /* Dodajte WebKit prefix za transform */
  transform: translateX(100%);
}

.slider3 {
  -webkit-transform: translateX(100%); /* Dodajte WebKit prefix za transform */
  transform: translateX(100%);
}

.slider-zero {
  -webkit-transform: translateX(0%); /* Dodajte WebKit prefix za transform */
  transform: translateX(0%);
}

.slider-left {
  -webkit-transform: translateX(-100%); /* Dodajte WebKit prefix za transform */
  transform: translateX(-100%);
}

.slider-right {
  -webkit-transform: translateX(100%); /* Dodajte WebKit prefix za transform */
  transform: translateX(100%);
}

@media screen and (max-width: 576px) {
  .o__mobile_nav-link {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 425px) {
  .o__mobile_nav-link {
    font-size: 1.45rem;
  }

  .go-back-btn {
    width: 24px;
    height: 24px;
  }

  .dropdown-menu__btn {
    width: 16px;
    height: 16px;
  }
}
@media screen and (max-width: 350px) {
  .o__mobile_nav-link {
    font-size: 1.1rem;
  }

  .slider1 {
    margin-left: 2rem;
  }
}
