.o__aboutPage{
    background-color: var(--color-darkgrey);
}

.o__aboutPage_section-img {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.o__aboutPage_section-img img{
    border-radius: 20px;
    object-fit: cover;
    max-width: 500px;
}


.o__aboutPage_section-description{
    padding: 3rem 4rem 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.o__aboutPage_section-description p{
    font-size: 1.3rem;
    line-height: 2.5rem;
    color: var(--color-blue);
    text-align: justify;
}

.o__aboutPage_section-description_line-wrapper{
    padding: 0 3rem;
}

.o__aboutPage_section-description_line{
    height: 4px;
    border-radius: 10px;
    width: 100%;
    background: var(--color-blue);
}






@media screen and (max-width:768px) {
    .o__aboutPage_section-description{
        padding: 3rem;
        padding-bottom: 2rem;

    }
}

@media screen and (max-width:450px) {
    .o__aboutPage_section-description p{
        font-size: 1rem;
        line-height: 2rem;
    }
}