.cardFlip__scene{
    width: 340px;
    height: 380px;
    perspective: 600px;
}

.cardFlip__card{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.7s;
    transform-style: preserve-3d;
}

.cardFlip__card.isflipped {
    transform: rotateY(180deg);
}

.cardFlip__card-front,
.cardFlip__card-back{
    top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
    border: 7px solid var(--color-blue);
    border-radius: 20px;
    background: var(--color-grey);
    width: 100%;
    height: 350px;
    position: absolute;
    backface-visibility: hidden;
}

.cardFlip__card-back{
    transform: rotateY( 180deg );
}

.cardFlip__card-front img,
.cardFlip__card-back img{
    max-width: 100%;
    object-fit: cover;
}

.cardFlip__card-description{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    row-gap: 1rem;
}


.cardFlip__card-description h3{
    font-size: 2rem;
    color: var(--color-blue);
}

.cardFlip__card-description img{
    max-width: 2rem;
    cursor: pointer;
}

@media screen and (max-width:425px) {


    .cardFlip__scene{
        width: 100%;
        max-width: 340px;
    }

    .cardFlip__card-description h3{
        font-size: 1.8rem;
    }
    .cardFlip__card-description img{
        max-width: 1.8rem;
    }
}

@media screen and (max-width:350px) {



    .cardFlip__card-description h3{
        font-size: 1.4rem;
    }
    .cardFlip__card-description img{
        max-width: 1.4rem;
    }
}

@media screen and (max-width:300px) {



    .cardFlip__card-description h3{
        font-size: 1.3rem;
    }
    .cardFlip__card-description img{
        max-width: 1.3rem;
    }
}

