.o__header_menu-button {
  padding: 0.3rem;
  position: fixed;
  top: 0.4rem;
  right: 0.4rem;
  cursor: pointer;
  display: none;
  z-index: 800;
  transition: all 0.2s ease-in-out;
}

.o__header_menu-button img {
  max-height: 2rem;
  border-radius: 5px;
}

.burger-shadow {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.09);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.1px);
  -webkit-backdrop-filter: blur(10.1px);
}

.o__header_menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: var(--color-blue);
  transition: 0.5s ease;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  z-index: 999;
}

.o__header_menu-overlay_logo {
  max-width: 300px;
  margin-inline: 1rem;
}

.o__header_menu-overlay_logo img {
  width: 100%;
  object-fit: cover;
}

.o__header_menu-overlay_links {
  position: relative;
  width: 100%;
}

.menu-link-wrapper {
  position: relative;
}

.menu-link {
  cursor: pointer;
  color: var(--color-white);
  font-family: var(--font-base);
  transition: all 0.3s;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.4rem 2rem;
}

.menu-link:hover {
  background: var(--color-darkblue);
}

.o__header_menu-overlay-links .menu__shadow-link {
  color: var(--color-darkgrey);
  font-weight: bold;
}

.nav-menu__dropdown {
  position: absolute;
  display: none;
  left: 150px;
  transition:
    height 0.5s ease,
    border 0.5s ease;
}

.nav-menu__dropdown.show {
  display: block;
}

.menu__link-active {
  color: var(--color-darkgrey);
  cursor: default;
}

@media screen and (max-width: 768px) {
  .o__header_menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .o__navbar_line {
    display: block;
  }
}

@media screen and (max-width: 425px) {
  .o__header_menu-button img {
    max-height: 28px;
  }
}

#hide-btn {
  display: none;
}
