.o__section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--color-grey);
}

.o__section_img{
    width: 50%;
}

.o__section_img img{
    height: 500px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.o__section_details{
    height: 100%;
    width: 35%;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
}

.o__section_details h2{
    font-size: 3rem;
    color: var(--color-blue);
}

.o__section_details p{
    line-height: 2rem;
    color: var(--color-blue);
}

.o__section_details button{
    font-size: 1.1rem;
    font-weight: 300;
    background: var(--color-darkgrey);
    color: var(--color-blue);
    transition: all 0.1s;
    cursor: pointer;
}

.o__section_details button:hover{
    -webkit-box-shadow: 2px 2px 5px 0px rgba(40,66,128,1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(40,66,128,1);
    box-shadow: 2px 2px 5px 0px rgba(40,66,128,1);
}

#odd{
    flex-direction: row-reverse;
}

#odd .o__section_details{
    text-align: left;
    align-items: flex-start;
}


@media screen and (max-width:1025px) {
    .o__section{
        flex-direction: column;
    }

    #odd{
        flex-direction: column;
    }

    .o__section_img{
        width: 80%;
    }

    .o__section_details{
        width: 80%;
        align-items: center;
        text-align: justify;
    }

    #odd .o__section_details{
        width: 80%;
        align-items: center;
        text-align: justify;
    }
}

@media screen and (max-width:770px){
    .o__section_img img{
        height: 400px;
    }

}

@media screen and (max-width:600px){
    .o__section_img img{
        height: 350px;
    }

}

@media screen and (max-width:450px){
    .o__section_img img{
        height: 250px;
    }

    .o__section_details h2{
        font-size: 2rem;
    }

    .o__section_details p{
        font-size: 0.8rem;
        line-height: 1.5rem;
    }

}

@media screen and (max-width:300px){
    .o__section_img img{
        height: 150px;
    }

}