.section__padding{
  padding: 3.5rem 2rem;
}

.flex__center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__head{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    background-color: #f5f7fa;
    padding: 0 2rem;
}

.section__head h2{
  font-size: 4rem;
	color: var(--color-blue);
	font-weight: 300;
  font-family: var(--font-base);
}


.o__bg {
  background: url('./assets/bg1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.o__bg1 {

    background:-moz-linear-gradient(90deg, rgba(100, 145, 255, 1) 0%, rgba(40, 66, 128, 1) 100%); 
    background:-webkit-linear-gradient(90deg, rgba(100, 145, 255, 1) 0%, rgba(40, 66, 128, 1) 100%);
    background:-o-linear-gradient(90deg, rgba(100, 145, 255, 1) 0%, rgba(40, 66, 128, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#284280', endColorstr='#6491FF', GradientType=0 );
    background:-ms-linear-gradient(90deg, rgba(100, 145, 255, 1) 0%, rgba(40, 66, 128, 1) 100%);
    background:linear-gradient(90deg, rgba(100, 145, 255, 1) 0%, rgba(40, 66, 128, 1) 100%);
}

.o__bg2{    
    background:-moz-linear-gradient(90deg, rgba(40, 66, 128, 1) 15%, rgba(178, 187, 209, 1) 85%); 
    background:-webkit-linear-gradient(90deg, rgba(40, 66, 128, 1) 15%, rgba(178, 187, 209, 1) 85%);
    background:-o-linear-gradient(90deg, rgba(40, 66, 128, 1) 15%, rgba(178, 187, 209, 1) 85%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B2BBD1', endColorstr='#284280', GradientType=0 );
    background:-ms-linear-gradient(90deg, rgba(40, 66, 128, 1) 15%, rgba(178, 187, 209, 1) 85%);
    background:linear-gradient(90deg, rgba(40, 66, 128, 1) 15%, rgba(178, 187, 209, 1) 85%);
  }

.o__bg3{
  background:-moz-radial-gradient(circle at 10% 10%, rgba(40, 66, 128, 1) 12%, rgba(178, 187, 209, 1) 78%);
  background:-webkit-radial-gradient(circle at 10% 10%, rgba(40, 66, 128, 1) 12%, rgba(178, 187, 209, 1) 78%);
  background:-o-radial-gradient(circle at 10% 10%, rgba(40, 66, 128, 1) 12%, rgba(178, 187, 209, 1) 78%);
  background:-ms-radial-gradient(circle at 10% 10%, rgba(40, 66, 128, 1) 12%, rgba(178, 187, 209, 1) 78%);
  background:radial-gradient(circle at 10% 10%, rgba(40, 66, 128, 1) 12%, rgba(178, 187, 209, 1) 78%);

}

.o__bg4{
     /* ff 3.6+ */
     background:-moz-radial-gradient(circle at 0% 0%, rgba(40, 66, 128, 1) 5%, rgba(178, 187, 209, 1) 31%);

     /* safari 5.1+,chrome 10+ */
     background:-webkit-radial-gradient(circle at 0% 0%, rgba(40, 66, 128, 1) 5%, rgba(178, 187, 209, 1) 31%);
 
     /* opera 11.10+ */
     background:-o-radial-gradient(circle at 0% 0%, rgba(40, 66, 128, 1) 5%, rgba(178, 187, 209, 1) 31%);
 
     /* ie 10+ */
     background:-ms-radial-gradient(circle at 0% 0%, rgba(40, 66, 128, 1) 5%, rgba(178, 187, 209, 1) 31%);
 
     /* global 92%+ browsers support */
     background:radial-gradient(circle at 0% 0%, rgba(40, 66, 128, 1) 5%, rgba(178, 187, 209, 1) 31%);
}

.custom__button{
  font-family: var(--font-base);
  border-radius: 7px;
  padding: 0.7rem 1.2rem;
  border: none;
}


@media screen and (max-width:770px) {
  .section__head{
    background-color: var(--color-blue);
  }

  .section__head h2{
    color: var(--color-white);
  }

  .custom__button{
    padding: 0.5rem 1rem;
  }

}