:root {
  --font-base: 'Poppins', sans-serif;
  --color-blue: #284280;
  --color-darkblue: #152e69;
  --color-white: #ffffff;
  --color-grey: #f5f7fa;
  --color-darkgrey: #b2bbd1;
  --color-red: #d33131;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-base);
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  background: var(--color-darkgrey);
  height: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.hide-element {
  display: none;
}

a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.slide-enterance1 {
  -webkit-animation: slide-enterance1 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: slide-enterance1 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes slide-enterance1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-enterance1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide-bottom-dropdown {
  -webkit-animation: slide-bottom-dropdown 0.5s both;
  animation: slide-bottom-dropdown 0.5s both;
}

@-webkit-keyframes slide-bottom-dropdown {
  0% {
    height: 0px;
  }
  100% {
    height: 260px;
  }
}
@keyframes slide-bottom-dropdown {
  0% {
    height: 0px;
  }
  100% {
    height: 260px;
  }
}
