

.o__addoffersPage_blueline-wrapper{
    padding: 0rem 2rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.o__addoffersPage_blueline{
    height: 4px;
    background: var(--color-blue);
    width: 100%;
    border-radius: 10px;
}

.o__addoffersPage_slider-wrapper{
    margin-top: 3rem;
    padding: 0 2rem;
}

.o__addoffersPage_button-wrapper{
    padding: 0 0 3rem 0;
}
