.hp{
    scroll-behavior: smooth;
}

.o__line{
    display: none;
    padding: 0rem 2rem;
    background: white;
}

.o__line div{
    
    height: 2px;
    border-radius: 10px;
    background: var(--color-blue);
    width: 100%;
}