.o__contactPage{
    background: var(--color-darkgrey);

}

.o__contactPage_section{
    padding: 3rem 4rem;
    background: var(--color-darkgrey);
    height: 90vh;
    flex-direction: column;
}

.height-auto{
    height: auto;
}

.o__contactPage_options{
	display: flex;
	justify-content: center;
	gap: 5rem;
}


.o__contactPage_options-button{
	display: flex;
	justify-content: center;
	align-items: center;
    max-width: 120px;
	padding: 1rem;
	border-radius: 15px;
	border: 2px solid #284280;
	background-color: #284280;
    transition: 0.3s;
    cursor: pointer;
}


.o__contactPage_options-button img{
	width: 100%;
    object-fit: cover;
}

.o__contactPage_options-button:hover{
	transform: scale(1.1);
}



/* PROZOR */


.o__contactPage_options-window{
	
	background-color: #284280;
	padding: 3rem;
	margin-top: 2rem;
	border-radius: 20px;
}

/* PROZOR PORUKA */

#option-message{
    width: 100%;
}

.kontakt-inputi{
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
    gap: 1rem;
}


.kontakt-inputi label{
	color: white;
    font-size: 1.5rem;
}

.kontakt-inputi input,
.kontakt-inputi textarea{
	padding: 1rem;
	border-radius: 10px;
	border: 1px solid #284280;
    outline: none;
    font-size: 1rem;
}

.kontakt-inputi textarea{
    width: 100%;
}

.phone-optional{
    color: var(--color-grey);
}


.o__contactPage_options_message-submit{
    padding: 1rem;
}

/* PROZOR POZIV */

#option-call{
    gap: 3rem;
    margin-top: 2rem;
    width: 100%;
}

.o__contactPage_options-call{
    display: flex;
    flex-direction: column;
}

.o__contactPage_options_call-person{
	display: flex;
	justify-content: space-between;
    gap: 1rem;
	padding: 2rem;
	background-color: #284280;
	border-radius: 20px;
}

.o__contactPage_options_call-person_img{
	background-color: white;
    max-width: 250px;
    padding: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
}

.o__contactPage_options_call-person_img img{
    width: 100%;
    object-fit: cover;
}

.o__contactPage_options_call-person_info{
	color: white;
	display: flex;
	flex-direction: column;
    justify-content: center;
	gap: 1rem;
}

.o__contactPage_options_call-person_info p,
.o__contactPage_options_call-person_info h3{
	letter-spacing:0.5px;
}

.profile-email{
    cursor: pointer;
}

.kontakt-broj a,
.profile-email{
    font-weight: bold;
}

.kontakt-broj a:hover,
.profile-email:hover{
    color: var(--color-darkgrey);
}

.podatak{
    z-index: 100;
}

.kontakt-email-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
}

.o__contactPage_options_call-person_info-copy{
    position: absolute;
    opacity: 0;
    transition: all 0.3s ease;
    padding: 0.4rem;
    background-color: var(--color-darkgrey);
    border-radius: 10px;
    z-index: 0;
}


.showCopied{
    opacity: 1;
    transform: translateY(30px);
}


.o__contactPage_options_call-person_info-copy p {
    font-weight: bold;
    color: var(--color-blue);
}



.d-none{
	display: none;
}

@media screen and (min-width:1440px){
    #option-message,
    #option-call{
        max-width: 1400px;
    }

}


@media screen and (max-width:768px) {

    .o__contactPage_options-window{
        padding: 2rem;
    }

    
    .o__contactPage_options{
        gap: 4rem;
    }

    .o__contactPage_options_call-person{
        padding: 3rem 1.5rem;
    }

    .o__contactPage_section{
        padding: 3rem 2rem;
    }

    .o__contactPage_options_call-person{
        flex-direction: column-reverse;
        align-items: center;
        gap: 2rem;
    }

    .o__contactPage_options_call-person_info{
        align-items: center;
    }

    .o__contactPage_options_call-person_info p{
        text-align: center;
    }

    .kontakt-email-wrapper:hover .o__contactPage_options_call-person_info-copy{
        transform: translateY(26px);
    }

    .o__contactPage_options-button{
        max-width: 110px;
    }

    
}

@media screen and (max-width:576px) {

    .o__contactPage_options_call-person{
        padding: 3rem 0.25rem;
    }

    .o__contactPage_options_call-person_info p{
        font-size: 1rem;
    }


    .o__contactPage_options_message-submit input{
        padding: 0.8rem 1.6rem;
    }


    .kontakt-inputi label{
        font-size: 1.1rem;
    }

    .kontakt-inputi input, 
    .kontakt-inputi textarea{
        font-size: 0.8rem;
    }

    #submitButton input{
        font-size: 1.2rem;
    }

    
}


@media screen and (max-width:425px) {

    .o__contactPage_options-window{
        padding: 1.5rem;
    }

    .o__contactPage_options-button{
        max-width: 100px;
        padding: 0.8rem;
    }

    .o__contactPage_options_call-person_info{
        gap: 0.7rem;
    }

    .o__contactPage_options_call-person_info p{
        font-size: 0.8rem;
    }

    .o__contactPage_options_call-person_info h3{
        font-size: 1rem;
    }


    .kontakt-inputi label{
        font-size: 1rem;
    }

    .kontakt-inputi input, 
    .kontakt-inputi textarea{
        font-size: 0.6rem;
    }


    #submitButton input{
        font-size: 1rem;
    }

    .o__contactPage_options_message-submit input{
        padding: 0.6rem 1.2rem;
    }



    
}

@media screen and (max-width:350px) {

    .o__contactPage_options_call-person_info p{
        font-size: 0.6rem;
    }

    .kontakt-inputi input:not(:last-child),.kontakt-inputi textarea{
        padding: 0.7rem;
    }


}

